/* start genelar's css */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.btn{
    background-color: #0063f9 ;
    color: #fff;
    padding: 5px 15px;
}
/* general's css end */

/* start header's css */
    header .menu{
        background-color: #fff;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 999;
        line-height: 100px;
        width: 100%;
    }

    header .menu:after{
        content: "";
        display: table;
        clear: both;
    }

    .menu .menu_left{
        float: left;
        display: inline-block;
        margin-left: 20px;
    }

        /* start menu_left's css */
            .menu_left #logo{
                float: left;
            }

                #logo a{
                    display: inline;
                }

                #logo img{
                    vertical-align: middle;
                }

            .menu_left .nav_left{
                float: left;
            }   

                .nav_left ul li{
                    display: inline;
                }

                .nav_left ul a{
                    text-decoration: none;
                    color: black;
                    margin: 0px 20px;
            }

        /* menu_left's css end */

    .menu .menu_right{
        height: 100%;
        float: right;
        display: inline-block;
        margin-right: 20px;
    }

        /* start menu_right's css */
            .menu_right .nav_right{
                float: left;
            }

                .nav_right ul li{
                    display: inline;
                }

                .nav_right ul a{
                    text-decoration: none;
                    margin: 0px 20px;
                    color: black;
                }

            .menu_right .bottone{
                float: right;
            }

            .menu_right .bottone a{
                text-decoration: none;
                display: inline;
            }
    /* menu_right's css end */
    
    header .jumbotron{
        margin-top: 100px; /*Se non inserisco questo margine, header sale sopra jumbotron*/
        height: 700px; /*provvisorio*/
    }

    /* start jumbotron's css */
        .jumbotron .container{
            padding: 80px;
            background-color: #b0cfe5;
            height: 90%; /*provvisorio*/
        }

        /* start container's css */
            .container .titolo{
                font-size: 50px;
                font-weight: bold;
            }

            .jumbotron .container .content_left{
                width: 40%; 
                margin-top: 40px;
                float: left;
            }

                .content_left p{
                    margin-bottom: 30px;
                }

                .content_left .content{
                    margin-top: 15px;
                }

                .content_left .fas{
                    margin: 30px 0px;
                    font-size: 40px;
                }
        /* container's css end */
    /* jumbotron's css end */
/* header's css end */

/* start main's css */
    main{
        width: 80%; /*provvisorio*/
        height: 100%; /*provvisorio*/
        margin: auto;
    }
    
    main .piano_dropbox{

        width: 100%; /*provvisorio*/
        height: 600px; /*provvisorio*/
    }

    /* start piano_dropbox's css */
        .piano_dropbox .container{
            padding-top: 60px;
        }

            /* start container's css */
                .container .fatturazione{
                    margin-top: 20px;
                }

                    .fatturazione .radio #pallino{
                        width: 20px;
                        height: 20px;
                        border: solid 5px #0063f9;
                        border-radius: 50%;
                        display: inline-block;
                    }

                    .piano_dropbox .fatturazione .content{
                        border: solid 1px black;
                        width: calc(100% / 3);
                        height: 800px; /*provvisiorio*/
                        float: left;
                        padding: 10px;
                        margin-top: 20px;
                    }

                    .piano_dropbox .fatturazione .down{
                        border: solid 1px black;
                        width: 100%;
                        height: 200px;
                        float: left;
                        margin: 5% 0%;
                    }

                    .piano_dropbox .fatturazione .conten::after{
                        content: "";
                        display: table;
                        clear: both;
                    }

            /* container's css end */
    /* piano_dropbox's css end */

    main .partner_dropbox{
        background-color: darkorange;
        width: 100%; /*provvisorio*/
        height: 300px; /*provvisorio*/
    }

        /* start partner_dropbox's css */
            .partner_dropbox .container{
                background-color: chartreuse;
                width: 80%; /*provvisorio*/
                height: 100%; /*provvisorio*/
                margin: auto;
            }

            .partner_dropbox .container:after{
                content:"";
                display: table;
                clear: both;
            }

            .partner_dropbox .container .img{
                background-color: blue;
                width: 50%;
                height: 100%;
                float: left;
            }

            .partner_dropbox .container .content{
                background-color: red;
                width: 50%;
                height: 100%;
                float: left;
            }
        /* partner_dropbox's css end */

    main .operazioni_dropbox_business{
        background-color: darkolivegreen;
        width: 100%; /*provvisorio*/
        height: 600px; /*provvisorio*/
    }

        .operazioni_dropbox_business .container{
            background-color: yellow;
            width: 80%; /*provvisorio*/
            height: 100%; /*provvisorio*/
            margin: auto;
        }

        .operazioni_dropbox_business .container h2{
                background-color: pink;
                height: 5%; /*provvisorio*/
                width: 80%; /*provvisorio*/
            }

            .operazioni_dropbox_business .container .row{
                background-color: maroon;
                width: 100%;
                height: 50%;
            }

            .operazioni_dropbox_business .row .content{
                background-color: red;
                width: 30%;
                height: 80%;
                float: left;
                margin: 0% 0% 5% 5%;
            }

            .operazioni_dropbox_business .row .content:first-child{
                margin-left: 0%;
            }

            .operazioni_dropbox_business .row .content:last-child{
                margin-right: 0%;
            }

    main .team_dropbox_business{
        background-color: brown;
        width: 100%; /*provvisorio*/
        height: 300px; /*provvisorio*/
    }

    main .banner_prova_gratuita{
        background-color: pink;
        width: 100%; /*provvisorio*/
        height: 200px; /*provvisorio*/
    }

    main .faq{
        background-color: midnightblue;
        width: 100%; /*provvisorio*/
        height: 400px; /*provvisorio*/
    }

    /* start banner_prova_gratuita's css */
        .banner_prova_gratuita .container{
            background-color: cyan;
            width: 80%; /*provvisorio*/
            height: 100%; /*provvisorio*/
            margin: auto;
        }

    /* banner_prova_gratuita's css end*/

    /* start faq's css */
        .faq .container{
            background-color: red;
            width: 80%; /*provvisorio*/
            height: 100%; /*provvisorio*/
            margin: auto;
        }

            .faq .container .domande{
                background-color: yellow;
                width: 100%;
                height: 10%;
                
            }

            .faq .container .content{
                background-color: green;
                width: 100%;
                height: 10%;
                margin: 5% 0px;
            }

    /* faq's css end */
/* main's css end */

/* start footer's css */
    footer{
        background-color: black;
        width: 100%; /*provvisorio*/
        height: 300px; /*provvisorio*/
    }

    footer .container{
        background-color: greenyellow;
        width: 80%; /*provvisorio*/
        height: 250px; /*provvisorio*/
        margin: auto;
    }

        footer .container::after{
            content: "";
            display: table;
            clear: both;
        }

        footer .container .cln{
            background-color: orange;
            width: 18.4%;
            height: 100%;
            float: left;
            margin: 0% 0% 2% 2%;
        }

        footer .container .cln:first-child{
            margin-left: 0%;
        }

        footer .container .cln:last-child{
            margin-right: 0%;
        }

    footer .down{
        background-color: red;
        width: 80%;
        height: 50px;
        margin: auto;
    }
/* footer's css end */